<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="test11.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <test11.My.MySettings>
            <setting name="path_boDB" serializeAs="String">
                <value>Z:\all_ak_v5.x_files\office_x64.accdb</value>
            </setting>
            <setting name="path_mainDB" serializeAs="String">
                <value>Z:\all_ak_v5.x_files\main.accdb</value>
            </setting>
            <setting name="path_seykDB" serializeAs="String">
                <value>Z:\all_ak_v5.x_files\seyk_x64.accdb</value>
            </setting>
            <setting name="path_acDB" serializeAs="String">
                <value>Z:\all_ak_v5.x_files\ac.accdb</value>
            </setting>
            <setting name="path_anDB" serializeAs="String">
                <value>Z:\all_ak_v5.x_files\an_x64.accdb</value>
            </setting>
            <setting name="right_an" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="right_ac" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="right_seyk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="right_admin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="right_bo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pwd_admin" serializeAs="String">
                <value>qw12er</value>
            </setting>
            <setting name="path_logfile" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="chk_logfile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="path_plugin_allak" serializeAs="String">
                <value>C:\Users\kmastrok\Downloads\all_ak.exe</value>
            </setting>
            <setting name="path_plugin_greece" serializeAs="String">
                <value>C:\Users\kmastrok\Downloads\all_ak.exe</value>
            </setting>
            <setting name="path_plugin_ping" serializeAs="String">
                <value>C:\Users\kmastrok\Downloads\all_ak.exe</value>
            </setting>
            <setting name="lstTtlpL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ΤΤΛΠ ΑΡΓΟΣΑΡΩΝΙΚΟΥ</string>
                        <string>ΤΤΛΠ ΡΟΔΟΥ</string>
                        <string>ΤΤΛΠ ΣΑΜΟΥ</string>
                        <string>ΤΤΛΠ ΚΥΚΛΑΔΩΝ</string>
                        <string>ΤΤΛΠ ΚΩ</string>
                        <string>ΤΤΛΠ ΧΙΟΥ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="folder_xls" serializeAs="String">
                <value>Z:\all_ak_v5.x_files</value>
            </setting>
        </test11.My.MySettings>
    </userSettings>
</configuration>
